.dark-bg-wrapper {
    background-color: rgb(53, 53, 53);
}

.black-bg-wrapper {
    background-color: #2c2c2c;
}

.sub-navbar {
    position: fixed;
    width: 100%;
    /* 화면에 고정 */
    top: 56px;
    /* Menu 높이만큼 아래로 내림 (Menu 높이에 따라 조절 필요) */
    left: 0;
    
    /* 너비 꽉 채우기 */
    z-index: 1020;
    /* Menu(1030)보다 낮게 설정하여 겹칠 때 아래로 가게 함 */
    background-color: #212529;
    /* ▼▼▼ 이렇게 수정하세요 ▼▼▼ */

}

.search.btn.btn-success {
    background-color: #ffffff !important;
    border-color: #ffffff;
    color: #546de5;
}

.sub-link {
    font-family: 'Arial', 'Helvetica', sans-serif;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
}

.sub-link:hover {
    color: rgba(253, 101, 101, 0.918);
     transition: all 0.5s ease;

}