.result-wrapper {
    display: flex;

    max-height: 130px;
    border-radius: 0.25em;
    border: 1px solid rgb(52, 52, 52);
    word-break: break-all;
    background-color: rgb(53, 53, 53);
    align-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    padding-top: 20px;


}

.result-wrapper:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.simple-item {
    /* border-bottom: 1px solid #333; */
    padding: 10px 15px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.2em;
    transition: background-color 0.2s;
}

.simple-item:hover {
    background-color: #ea8685;
    cursor: pointer;
}

.simple-item:last-child {
    border-bottom: none;
}

.dark-bg-wrapper {
    background-color: rgb(53, 53, 53);
}

.black-bg-wrapper {
    background-color: #2c2c2c;
}

.search.btn.btn-success {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #7ed6df;
}

.board-link {
    text-decoration: none;
    font-weight: 550;
    color: rgba(255, 255, 152, 0.74)
}

.reply-write {
    min-height: 80px !important;
    max-height: 300px !important;
    width: 100%;
    /* 부모 div(flex-grow-1)를 가득 채움 */
    font-size: 20px !important;
    border-radius: 0.8em !important;
    resize: none !important;
    padding: 0.5em !important;
    /* margin-left: 0.5em !important; */
    background-color: #3d4257 !important;
    border: none !important;
    color: #fff !important;

    white-space: pre-wrap !important;
    /* 공백은 유지하되 줄바꿈 허용 */
    word-break: break-word !important;
    /* 단어가 너무 길면 강제로 끊어서 줄바꿈 */
    overflow-wrap: break-word !important;
    /* 위와 유사하지만 더 최신 표준 */
}

.reply-card {
    min-height: 80px !important;
    max-height: 300px !important;
    width: 100%;
    border-radius: 0.8em !important;
    resize: none !important;
    padding: 1em !important;

    background-color: #3e3e42 !important;
    border: none !important;
    color: #fff !important;

    white-space: pre-wrap !important;
    /* 공백은 유지하되 줄바꿈 허용 */
    word-break: break-word !important;
    /* 단어가 너무 길면 강제로 끊어서 줄바꿈 */
    overflow-wrap: break-word !important;
    /* 위와 유사하지만 더 최신 표준 */
}


.reply-btn {
    font-size: 20px !important;
    height: 100% !important;
    border-radius: 0.8em !important;
    padding: 0.5em !important;
    background-color: #3d4257 !important;
    border: none !important;
    color: #fff !important;
}