.result-wrapper {
    display: flex;

    max-height: 130px;
    border-radius: 0.25em;
    border: 1px solid rgb(52, 52, 52);
    word-break: break-all;
    background-color: rgb(53, 53, 53);
    align-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    padding-top: 20px;


}
    
.result-wrapper:hover {
    filter: brightness(0.9);
    cursor: pointer;
}