

.result-wrapper {
    display: flex;

    max-height: 130px;
    border-radius: 0.25em;
    border: 1px solid rgb(52, 52, 52);
    word-break: break-all;
    background-color: rgb(53, 53, 53);
    align-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    padding-top: 20px;


}
    
.result-wrapper:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.simple-item {
  /* border-bottom: 1px solid #333; */
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.2em;
  transition: background-color 0.2s;
}

.simple-item:hover {
    background-color: #ea8685;
    cursor: pointer;
}

.simple-item:last-child {
  border-bottom: none;
}

.dark-bg-wrapper {
  background-color: rgb(53, 53, 53);
}

.black-bg-wrapper {
  background-color: #2c2c2c;
}

.search.btn.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #7ed6df;
}

/* 버튼 스타일 */ 
.genre-form .btn {
  background: rgb(43, 43, 43) !important;
  border: none;
  color: #ffffff !important;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}


/* 임시 추가 */
.genreLink{
  text-decoration: none;
  color: #ffffff;
}

.genre-form .btn{
    border: 2px solid rgba(253, 101, 101, 0.8);
    font-family: 'Arial', 'Helvetica', sans-serif;
    overflow: hidden;
    z-index: 1;
    font-weight: 400 ;
    letter-spacing: 0.7px;
    padding: 0.6em 1em;
    position:relative;
    min-width: 85px;
     transition: all 0.5s ease;
     text-align: center;
}

.genre-form .btn:before,
.genre-form .btn:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  z-index: -1;
  transition: 1s;
}

.genre-form .btn:before{
    border-radius: 10em;
 bottom: 0;
  left: 0;
  border-color: transparent transparent transparent rgba(253, 101, 101, 0.8);
}

.genre-form .btn:after {
    border-radius: 10em;
  top: 0;
  right: 0;
  border-color: transparent rgba(253, 101, 101, 0.8) transparent transparent;
}

.genre-form .btn:hover:before,
.genre-form .btn:hover:after { 
    border-width: 80px 262.5px;
}

.genre-form .btn:focus::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(253, 101, 101, 0.918);
}
.genre-form .btn:focus span {
    color: #ffffff; 
    font-weight: 500;
}