

.result-wrapper {
    display: flex;

    max-height: 130px;
    border-radius: 0.25em;
    border: 1px solid rgb(52, 52, 52);
    word-break: break-all;
    background-color: rgb(53, 53, 53);
    align-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    padding-top: 20px;


}
    
.result-wrapper:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.simple-item {
  /* border-bottom: 1px solid #333; */
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.2em;
  transition: background-color 0.2s;
}

.simple-item:hover {
    background-color: #ea8685;
    cursor: pointer;
}

.simple-item:last-child {
  border-bottom: none;
}

.dark-bg-wrapper {
  background-color: rgb(53, 53, 53);
}

.black-bg-wrapper {
  background-color: #2c2c2c;
}

.search.btn.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #7ed6df;
}

/* 버튼 스타일 */ 
.genre-form .btn {
  background: #f86d6d;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.genre-form .btn:hover {
  background: #ff4d4d;
}