.fullStar {
    color: rgb(255, 201, 25);
    font-size: 45px;
    margin-right: 0.2em;
    margin-right: 0.2em;
}
.emptyStar {
    color: rgb(214, 214, 214);
    font-size: 45px;
    margin-right: 0.2em;
    margin-right: 0.2em;
}

.review-wrapper{
    background-color: #f1f2f6;
}

.border {
    border-color: black;
}
.how {
    font-size: 18px;
}
.spo {
    font-size: 18px;
}
.success > .btn-success {
    padding: 1em !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 0.8em !important;
    /* background-color: rgb(214,93,93) !important; */
    border-color: #198754 !important;
    margin-left: 0.5em !important;
    width: 500px !important;
}
.success > .btn-success:active {
    filter: brightness(85%) !important;
    transform: translateY(1px);
}

/* 켜짐 상태 (Checked) 트랙 배경색 변경 */
.form-check-input:checked {
    background-color: #ff7675 !important;
    border-color: #ff7675 !important;
}

/* 켜짐 상태 (Checked) 일 때 스위치에 그림자 생기는 것 방지 */
.form-check-input:focus {
    box-shadow: none !important;
    border-color: #ff7675 !important;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.textAA {
    height: 200px;
    font-size: 20px !important;
    border-radius: 0.8em;
    resize: none !important;
    padding: 1em !important;
    margin-left: 0.5em !important;
}
.textAA:focus {
    box-shadow: 0 0 0 0.15rem #198754 !important;
    border: none !important;
} 

.cate_btn {
    border-radius: 1.5em !important;
}

.mini-button {
    border-color: transparent;
    background-color: transparent;
}
.user-review {
    padding: 10px;
}



