.fullStar {
    color: gold;
    font-size: 45px;
}

.emptyStar {
    color: rgb(214, 214, 214);
    font-size: 45px;
}

.update>.fullStar {
    color: rgb(221, 188, 0);
    font-size: 30px;
    margin-left: 0.2em;
}

.update>.emptyStar {
    color: rgb(214, 214, 214);
    font-size: 30px;
    margin-left: 0.2em;
}
.HR {
    color: #969bb3 ;
}
.fullHeart {
    color: #e60000;
}
.emptyHeart{
    color: #d6daee;
}
.share {
    color: #d6daee;
}
.shareButton {
    background-color: transparent;
    color: #fff;
    border: none;
}
.spoButton {
    background-color: #1f3d66;
    color: #fff;
    border: 1px solid #6a719b;
    padding: 0.7em;
    margin-left: auto;
    border-radius: 0.8em;
}
.spoButton:hover {
    filter: brightness(85%) !important;
    transform: translateY(1px);
}
.spoText {
    font-weight: bold;
    margin-top: 0.5em;
}

.rating-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.rating-number {
    font-size: 35px;
    color: #ff836d;
    font-weight: bold;
    font-family: sans-serif;
    
}

.rating-number2 {
    font-size: 20px;
    color: #d6daee;
    font-weight: bold;
    font-family: sans-serif;
}
.real {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;
}

.review-wrapper {
    background-color: #212529;
}
.updateB {
    background-color: transparent;
    border: none;
    color: #d6daee;
    font-size: 25px;
}
.updateT {
    color: #d6daee;
}
.updateT2 {
    color: #9094a3;
}
.border {
    border-color: black;
}

.how {
    font-size: 18px;
}

.spo {
    font-size: 18px;
}

.my-review {
    font-size: 18px;
    font-weight: bold;
}

.my-review-space {
    background-color: #7986a3;
    padding: 0.8em;
    border-radius: 0.9em;
    color: #fff;
}

.text-space {
    border-color: #868686;
    background-color: #868686;
    padding: 1.2em;
    border-radius: 0.9em;
}

.success>.btn-success {
    padding: 1em !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 0.8em !important;
    /* background-color: rgb(214,93,93) !important; */
    border-color: #198754 !important;
    margin-left: 0.5em !important;
}

.success>.btn-success:active {
    filter: brightness(85%) !important;
    transform: translateY(1px);
}

.primary>.btn-primary {
    padding: 1em !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 0.8em !important;
    /* background-color: rgb(214,93,93) !important; */
    border-color: #0d6efd !important;
    margin-left: 0.5em !important;
}

.primary>.btn-primary:active {
    filter: brightness(85%) !important;
    transform: translateY(1px);
}

/* 켜짐 상태 (Checked) 트랙 배경색 변경 */
.form-check-input:checked {
    background-color: #ff7675 !important;
    border-color: #ff7675 !important;
}

/* 켜짐 상태 (Checked) 일 때 스위치에 그림자 생기는 것 방지 */
.form-check-input:focus {
    box-shadow: none !important;
    border-color: #ff7675 !important;
}

input:focus::placeholder,
textAA:focus::placeholder {
    color: transparent;
}

.textAA::placeholder {
    color: #afafaf !important;
}

.textAA {
    height: 200px;
    font-size: 20px !important;
    border-color: #666666  !important;
    border-radius: 0.8em !important;
    resize: none !important;
    padding: 1em !important;
    margin-left: 0.5em !important;
    color: #fff !important;
    background-color: #353535 !important;
}

.textAA:focus {
    box-shadow: 0 0 0 0.15rem #198754 !important;
    border: none !important;
}

.textAAA {
    height: 225px;
    font-size: 20px !important;
    border-radius: 0.8em !important;
    resize: none !important;
    padding: 0.5em !important;
    margin-left: 0.5em !important;
    background-color: #686c7e !important;
    border: none !important;
    color: #fff !important;
}
.textAA2 {
    height: 225px;
    font-size: 20px !important;
    border-radius: 0.8em !important;
    resize: none !important;
    padding: 0.5em !important;
    margin-left: 0.5em !important;
    background-color: #3e3e42 !important;
    border: none !important;
    color: #fff !important;
}

.textAA3 {
    height: 225px;
    border-radius: 0.8em !important;
    resize: none !important;
    padding: 0.5em !important;
    margin-left: 0.5em !important;
    background: rgba(202, 201, 253, 0.08) !important;

    /* 테두리 번짐 효과 */
    border: 1px solid rgba(202, 201, 253, 0.2) !important;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);

    transition: 0.2s;
}

.blur {
    background-color: red;
}

.textA3 {
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 20px !important;
    margin-left: 0.5em !important;
    resize: none !important;
    pointer-events: none !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    padding-right: 1.5em !important;
}
.text3:focus {
    box-shadow: 0 0 0 0.15rem #198754 !important;
    border: none !important;
}
.titleC {
    color: #d6daee !important;
}

.cate_btn {
    border-radius: 1.5em !important;
}

.fd {
    margin-left: 0.8em;
}

.mini-button {
    border-color: transparent;
    background-color: transparent;
}

.user-review {
    padding: 10px;
}


.price-wrapper {
    box-shadow: 0 0 7px #546de5 !important;
   
    border-radius: 0.8em;
    background-color: transparent;
}

.price-wrapper:focus-within {
    box-shadow: 0 0 25px #546de5 !important;
    border-radius: 0.8em !important;
    background-color: transparent !important;   
}

.price-bar.form-control {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid transparent !important;
}

.price-bar:focus {
    background-color: transparent !important;
    border: 0 0 0 transparent;   
}

.price-label.input-group-text {
    background-color: transparent !important;
    border-color: transparent;
}

.price.form-control:focus {
    box-shadow: none !important;      /* 그림자(Glow) 효과 제거 */
    border-color: transparent !important; /* 테두리 색상을 기본 회색으로 유지 (또는 원하는 색상) */
    outline: none !important;
}

.mainTitle {
    font-weight: bold !important;
    font-size: 20px;
}
.mainTitleB {
    background-color: transparent;
    border: none;
    color: #fff;
}
.userId {
    font-size: 20px;
}
.time {
    color: gray;
}
.title {
    font-size: 22px;
    font-weight: bold;
}
.littleStar {
    color: rgb(221, 221, 221);
}
.reviewText {
    font-weight: bold;
    font-size: 18px;
    height: 800px;
}
.iconH {
    font-size: 25px;
}
.icon {
    font-size: 18px;
}
.iconBox {
    background-color: rgb(54, 54, 54);
    padding: 1em;
    border-radius: 0.8em;

}