.fullStar {
    color: gold;
    font-size: 45px;
}

.emptyStar {
    color: rgb(214, 214, 214);
    font-size: 45px;
}

.update>.fullStar {
    color: rgb(221, 188, 0);
    font-size: 30px;
    margin-left: 0.2em;
}

.update>.emptyStar {
    color: rgb(214, 214, 214);
    font-size: 30px;
    margin-left: 0.2em;
}

.rating-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.rating-number {
    font-size: 35px;
    color: #ff836d;
    font-weight: bold;
    font-family: sans-serif;
    
}

.rating-number2 {
    font-size: 20px;
    color: #d6daee;
    font-weight: bold;
    font-family: sans-serif;
}

.review-wrapper {
    background-color: #212529;
}
.updateB {
    background-color: transparent;
    border: none;
    color: #d6daee;
    font-size: 25px;
}
.updateT {
    color: #d6daee;
}
.border {
    border-color: black;
}

.how {
    font-size: 18px;
}

.spo {
    font-size: 18px;
}

.my-review {
    font-size: 18px;
    font-weight: bold;
}

.my-review-space {
    background-color: #7986a3;
    padding: 0.8em;
    border-radius: 0.9em;
    color: #fff;
}

.text-space {
    border-color: #868686;
    background-color: #868686;
    padding: 1.2em;
    border-radius: 0.9em;
}

.success>.btn-success {
    padding: 1em !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 0.8em !important;
    /* background-color: rgb(214,93,93) !important; */
    border-color: #198754 !important;
    margin-left: 0.5em !important;
}

.success>.btn-success:active {
    filter: brightness(85%) !important;
    transform: translateY(1px);
}

.primary>.btn-primary {
    padding: 1em !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 0.8em !important;
    /* background-color: rgb(214,93,93) !important; */
    border-color: #0d6efd !important;
    margin-left: 0.5em !important;
}

.primary>.btn-primary:active {
    filter: brightness(85%) !important;
    transform: translateY(1px);
}

/* 켜짐 상태 (Checked) 트랙 배경색 변경 */
.form-check-input:checked {
    background-color: #ff7675 !important;
    border-color: #ff7675 !important;
}

/* 켜짐 상태 (Checked) 일 때 스위치에 그림자 생기는 것 방지 */
.form-check-input:focus {
    box-shadow: none !important;
    border-color: #ff7675 !important;
}

input:focus::placeholder,
textAA:focus::placeholder {
    color: transparent;
}

.textAA::placeholder {
    color: #afafaf !important;
}

.textAA {
    height: 200px;
    font-size: 20px !important;
    border-radius: 0.8em !important;
    resize: none !important;
    padding: 1em !important;
    margin-left: 0.5em !important;
    color: #fff !important;
    background-color: #353535 !important;
}

.textAA:focus {
    box-shadow: 0 0 0 0.15rem #198754 !important;
    border: none !important;
}

.textAAA {
    height: 200px;
    font-size: 20px !important;
    border-radius: 0.8em !important;
    resize: none !important;
    padding: 0.5em !important;
    margin-left: 0.5em !important;
    background-color: #686c7e !important;
    border: none !important;
    color: #fff !important;
}
.textA3 {
    height: 100px;
}

.cate_btn {
    border-radius: 1.5em !important;
}

.fd {
    margin-left: 0.8em;
}

.mini-button {
    border-color: transparent;
    background-color: transparent;
}

.user-review {
    padding: 10px;
}